.wrapper {
    height: 100%;
    background-image: url("https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/e/eb/SL1.jpg/revision/latest?cb=20111022023828");
    background-repeat: no-repeat;
    background-size: cover;
  }
  